.firstContainer {
    height: 100vh;
    width: 100vw;
    /* border-bottom: 30px solid black; */
    background-color: #d9d9d9
}

.col3 {
    font-family: aero;
}

#particles-js {
    /* background: white;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; */
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: .7;
}

.secondContainer {
    height: 102vh;
    width: 100vw;
}

.thirdContainer {
    height: 103vh;
    width: 100vw;
}

.fourthContainer {
    height: 100vh;
    width: 100vw;
}


.navBar {
height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 8vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0em;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 25em;
  justify-content: center;
}

.homeBtn {
        display: flex;
        position: relative;
        background-color: red;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        top: -8.5em;
        left: 1em;
}

.img {
    size: 10px;
}

.homeBtn:hover {
    background-color: black;
  }

.flex-column1{
    display: flex;
    flex-direction: column;
    line-height: -20em;
    font-size: 1em;
    letter-spacing: 0px;
    margin-bottom: -20em;
}

.nav-link1 {
    display: flex;
    position: relative;
    transform: rotate(90deg);
    top: -17em;
    left: -1.6em;
    color: black;
    font-size: 17px;
    font-family: cavalier;
}

.nav-link1:hover {
    color: red;
}

.nav-link2 {
    display: flex;
    position: relative;
    transform: rotate(90deg);
    top: -12.5em;
    left: -1.6em;
    color: black;
    font-size: 17px;
    font-family: cavalier;
}

.nav-link2:hover {
    color: red;
}

.nav-link3{
    display: flex;
    position: relative;
    transform: rotate(90deg);
    top: -7em;
    left: -1.6em;
    color: black;
    font-size: 17px;
    font-family: cavalier;
}

.nav-link3:hover {
    color: red;
}

.nav-link4{
    display: flex;
    position: relative;
    transform: rotate(90deg);
    top: -5em;
    color: black;
    font-size: 17px;
}

.nav-link4:hover {
    color: red;
}

.row2 {
    display: flex; 
    position: relative;
    top: 17em;
    justify-content: center;
    text-align: center;
}

.col3 {
    justify-content: center;
}

.col4 {
    justify-content: center;
}

.aboutMe {
    display: flex; 
    position: relative;
    justify-content: center;
    text-align: center;
    height: 17em;
}

.about1 {
    justify-content: center;
}

p {
    color: white;
}
#About {
    position: relative;
    top: 1.5em;
    color: white;
}

#About h1 {
    font-family: aero;
}

.experience {
    position: relative;
    text-align: center;
    color: red;
    font-family: aero;
}

.fa-html5 {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    left: .2em;
    top: .17em;
    color: red;
}

.fa-css3-alt {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    left: .2em;
    top: .17em;
    color: red;
}

.fa-js-square {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    left: .2em;
    top: .17em;
    color: red;
}

.fa-react{
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    left: .1em;
    top: .17em;
    color: red;
}

.fa-angular {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    left: .1em;
    top: .17em;
    color: red;
}

.fa-bootstrap {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    left: .2em;
    top: .17em;
    color: red;
}

.fa-git {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    left: .1em;
    top: .17em;
    color: red;
}

.fa-node {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    left: .1em;
    top: .17em;
    color: red;
}

.fa-salesforce {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    left: .1em;
    top: .17em;
    color: red;
}
.skill1 {
        position: relative;
        top: 1em;
        /* border: 3px solid black; */
        height: 7em;
        width: 10em;
}

.skill2 {
    position: relative;
        top: 1em;
        /* border: 3px solid black; */
        height: 7em;
        width: 10em;
}

.skill3 {
    position: relative;
        top: 1em;
        /* border: 3px solid black; */
        height: 7em;
        width: 10em;
}

.skill4 {
    position: relative;
        top: 1em;
        /* border: 3px solid black; */
        height: 7em;
        width: 10em;
}

.skill5 {
    position: relative;
        top: 1em;
        /* border: 3px solid black; */
        height: 7em;
        width: 10em;
}

.skill6 {
    position: relative;
        top: 1em;
        /* border: 3px solid black; */
        height: 7em;
        width: 10em;
}

.skill7 {
    position: relative;
        top: 1em;
        /* border: 3px solid black; */
        height: 7em;
        width: 10em;
}

.skill8 {
    position: relative;
        top: 1em;
        /* border: 3px solid black; */
        height: 7em;
        width: 10em;
}

.skill9 {
    position: relative;
        top: 1em;
        /* border: 3px solid black; */
        height: 7em;
        width: 10em;
}

/* .projects {
    height: 20em;
}

.projects2 {
    height:20em;
} */

.projects {
    position: relative;
    top: 2em;
}
#projecth1 {
    position: relative;
    text-align: center;
    font-family: aero;
}


.exampleh1 {
    position: relative;
    text-align: center;
    font-family: geo;
    font-size: 2.3em;
}

.project1 {
    background: url("./assets/CSS\ Creature.png");
    background-size: cover;
        position: relative;
        background-position: center center;
        top: 1em;
        border: 3px solid black;
        height: 16em;
        width: 22em;
}

.project2 {
    background: url("./assets/Netflix\ Static.png");
    background-size: cover;
    background-position: center center;
    position: relative;
        top: 1em;
        border: 3px solid black;
        height: 16em;
        width: 22em;
}

.project3 {
    background: url("./assets/Repl.it.png");
    background-size: cover;
    position: relative;
        top: 1em;
        border: 3px solid black;
        height: 16em;
        width: 22em;
}

.project4 {
    background: url("./assets/GhibliAPI.png");
    background-size: cover;
    position: relative;
        top: 1em;
        border: 3px solid black;
        height: 16em;
        width: 22em;
}

.project5 {
    position: relative;
        top: 1em;
        border: 3px solid black;
        height: 16em;
        width: 22em;
}

.project6 {
    position: relative;
        top: 1em;
        border: 3px solid black;
        height: 16em;
        width: 22em;
}

/* .workExp {
    height:27em;
} */

.workExp {
    color: white;
    font-family: geo;
    font-size: 1.1em;
}

.workExp h1 {
    position: relative;
    font-family: aero;
    text-align: center;
}

/* .workExp h1 {
    font-family: metro;
} */

/* .skillHead {
    height:27em;
} */

.skillHead {
    position: relative;
    top: -1.7em;
}

#secondContainerBackground{
    background: black;
    position: absolute;
    width: 100%;
    height: 102%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: .7;
    margin-left: 0;
}

#thirdContainerBackground{
    background: gray;
    position: absolute;
    width: 100%;
    height: 103%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: .7;
    margin-left: 0;
}

#fourthContainerBackground {
    background: black;
    position: absolute;
    width: 100%;
    height: 102%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: .7;
}



#contact {
    background: black;
    padding-bottom: 3em;
}

h2 {
    color: black;
}

h3 {
    position: relative;
    top: .2em;
}


ul {
    position: relative;
    top: .4em;
    list-style-type: circle;
}
.text-center button {
    background-color: gray;
    color: black;
}

.gitHub {
    font-size: 2.5em;
}

.fa-github {
    color: red;
    position: relative;
    left: .5em;
    top: 5em;
    font-size: 1em;
}

.fa-github:hover {
    color: black;
}

.fa-codepen {
    color: red;
    position: relative;
    left: .5em;
    top: 5em;
}

.fa-codepen:hover {
    color:black;
}

.fa-linkedin-in{
    color: red;
    position: relative;
    left: .5em;
    top: 5em;
}

.fa-linkedin-in:hover {
    color:black;
}

.codePen {
    font-size: 2.5em;
}

.linkedIn {
    /* display: flex;
    position: relative;
    top: 10em;
    left:1em; */
    font-size: 2.5em;
}

.github {
    position: relative;
        top: 1em;
        height: 3em;
        width: 3em;
}

.codepen {
    position: relative;
        top: 1em;
        height: 3em;
        width: 3em;
}

.linkedin-in {
    position: relative;
        top: 1em;
        height: 3em;
        width: 3em;
}

.details .hoverText {
    display: flex;
    position:relative;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1.5em;
visibility:hidden;
}

.details:hover .hoverText {
    visibility:visible;
    opacity: .6;
    background-color:black;
    background-size: cover;
    }
    
.contactForm {
    color: white;
}

footer{
    position: relative;
    color: black;
    text-align: center;
    top: 14em;
}

.resume {
    color: white;
}

.resume:hover {
    color: red;
}

hr {
    border-color: red;
}

@font-face {
    src: url(./assets/Mech\ Tech.otf);
    font-family: mechtech;
}

@font-face {
    src: url(./assets/Imperial.otf);
    font-family: imperial;
}

@font-face {
    src: url(./assets/Metro.otf);
    font-family: metro;
}

@font-face {
    src: url(./assets/Fox\ Cavalier.otf);
    font-family: cavalier;
}

@font-face {
    src: url(./assets/Aero.ttf);
    font-family: aero;
}

@font-face {
    src: url(./assets/GeosansLight.ttf);
    font-family: geo;
}


.contactMe {
    font-family: aero;
}

.btn-black {
    font-family: aero;
}

.col5 p {
    position: relative;
    font-family: geo;
    font-size: 1.1em;
    top: 1em;
}

.skills {
    position: relative;
    top: 1.3em;
    font-family: geo;
}